.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notFound h1 {
    letter-spacing: -5px;
    animation: glitch 1s linear infinite;

}
.notFound h2{
    font-weight: 100;
    animation: glitch 1s linear infinite;
}
.notFound h2::after,
.notFound h2::before {
    content: attr(title);
    position: absolute;
    left: 0;
}
.notFound h2::after {
    animation: glitchBottom 1.5s linear infinite;
}
.notFound h2::before {
    animation: glitchTop 1s linear infinite;
}
.notFound h1 span{
    font-size: 2em;
    text-shadow: -7px 0 0 #11151c;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@keyframes glitch {
    2%,
    64% {
        transform: translate(0, 0) skew(0deg);
    }
    4%,
    60% {
        transform: translate(0px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

@keyframes glitchTop {
    2%,
    64% {
        transform: translate(0px, 0px);
    }
    4%,
    60% {
        transform: translate(0px, 0px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

@keyframes glitchBottom {
    2%,
    64% {
        transform: translate(-2px, 0);
    }
    4%,
    60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}
