@font-face {
    font-family: "dana";
    src: url(assets/fonts/Dana-Regular-BxfZZuX5.woff2);
}

* {
    font-family: "dana";
    margin: 0;
    padding: 0;
    direction: rtl;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color-scheme: dark;
}

body{
    color: #f0e9eb;
    background-color: #11151c;
}

.container {
    /* height: 100vh; */
    padding: 120px 10%;
    padding-bottom: 5%;
    margin-bottom: 120px;
    background-color: #11151c;
}
#root, .app{
    height: 100vh;
}

.row{
    justify-content: space-between;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.bg_darkBlue{
    background-color: #364156;
}
